.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

./simplechat.py
./simpleRag.py
./simpleSearch.py
./test_direct_api.py

